<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app="App" ng-controller="contactController">
    <p>User list</p>
    <form action="">
        <div><label for="">Name:</label><br>
        <input type="text" placeholder="Enter Name" name="name" ng-model="newcontact.name">
        </div>
        <div>
            <label for="">Email:</label><br>
            <input type="email" placeholder="Enter Email" name="email" ng-model="newcontact.email">
        </div>
        <div>
            <label for="">Password</label><br>
            <input type="password" name="password" placeholder="Enter Password" ng-model="newcontact.password">
        </div>
        <div>
            <label for="">Phone:</label><br>
            <input type="tel" name="telephone" placeholder="Enter Phone" ng-model="newcontact.phone">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    </div>
</body>
</html>